body {
    background-color: #ffe4e1;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px 0;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li a {
    color: red;
    text-decoration: none;
}

nav li a:hover {
    color: darkred;
}


section {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.gallery {
    display: flex; /* для горизонтального распределения */
    justify-content: space-between; /* равномерно по горизонтали */
}

.gallery img {
    width: 30%;
    height: auto;
}
.video-section,
.audio-section {
    text-align: center;
    margin-bottom: 20px;
}

.video-container {
    max-width: 900px;
    margin: 0 auto;
}

.video-container video {
    width: 100%;
    height: auto;
}


details ul {
    list-style-position: inside;
    padding-left: 0;
}

details li {
    margin: 0;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
}

.contact-details > div {
    width: 30%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
}

/* Скрываем форму изначально */
#feedbackForm {
    display: none;
}

/* Показываем форму, если она находится в состоянии :target (была якорем) */
#feedbackForm:target {
    display: block;
}

